* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

html {
	font-size: 10px;
	font-family: helvetica, arial, sans-serif;
	background-color: #ccc;
	background: -moz-radial-gradient( center, ellipse cover, #ccc 0%, rgba(48, 48, 48, 1) 100%);
	background: -webkit-radial-gradient( center, ellipse cover, #ccc 0%, rgba(48, 48, 48, 1) 100%);
	background: radial-gradient( ellipse at center, #ccc 0%, rgba(48, 48, 48, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#303030', GradientType=1);
	padding: 3rem;
}

body {
	font-size: 1.4rem;
	text-align: left;
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: 0 0 1rem black;
	width: 75rem;
	margin: auto;
	padding-bottom: 3rem;
}

h1 {
	text-align: center;
	border-radius: 2rem 2rem 0 0;
	margin: 0 auto;
	width: 75rem;
	z-index: 5;
	padding: 2rem;
	font-size: 3rem;
	color: #dddddd;
	background-color: #353535;
	letter-spacing: 2px;
}

h2 {
	margin: 1rem 0 0 3rem;
	padding-left: 20%;
}

p {
	margin: 1rem auto 2rem;
	width: 65%;
}

tag {
	font-size: 1.1rem;
	font-family: monospace;
	height: 40rem;
	overflow-y: scroll;
}
tag::before {
	content: '<';
}
tag::after {
	content: '>'
}
