menu {
	background: #666;
	border-radius: 50px;
	border: 10px outset #999;
	bottom: 0;
	color: #ccc;
	display: block;
	left: 0;
	margin: auto;
	height: 500px;
	width: 500px;
	padding: 40px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

menu h1 {
	font-size: 4rem;
	text-align: center;
	padding: 1rem;
	border-bottom: 4px ridge;
	border-color: inherit;
}

menu button, menu a {
	text-align: center;
	background: transparent;
	border: inherit;
	border-radius: 15px;
	border-style: groove;
	border-width: 4px;
	color: #ccc;
	cursor: pointer;
	display: block;
	font-size: 2rem;
	width: 80%;
	padding: 10px;
	margin: 2rem auto;
}

menu button:active, menu a:active {
	border-style: inset;
	box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.1);
}

menu button:hover, menu a:hover {
	color: #fff;
	border-color: #aaa;
}

menu button[disabled], menu a[disabled] {
	color: #999 !important;
	border-color: inherit !important;
}
