* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}
html, body {
	height: 100%;
	width: 100%;
	font-size: 10px;
}
body {
	background-color: #000;
	overflow: hidden;
	position: relative;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
}

.splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 100;
	background: #888c98;
	background: -moz-linear-gradient(top, #888c98, #888c98 47.15%, #35080e 47.15%, #000000 100%);
	background: -webkit-linear-gradient(top, #888c98, #888c98 47.15%, #35080e 47.15%, #000000 100%);
	background: linear-gradient(to bottom, #888c98, #888c98 47.15%, #35080e 47.15%, #000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888c98', endColorstr='#841919',GradientType=0 );
	z-index: 200;

	img {
		height: 40%;
		top: 10%;
		position: absolute;
		transition: visibility 0.5s ease;
	}

	h2 {
		font-size: 3rem;
		text-align: center;
		margin-top: 40rem;
		color: #fff;
	}

	&.hide {
		opacity: 0;
		transition: opacity 0.5s ease;
	}
}
