* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	background-color: #000;
	overflow: hidden;
}
header, footer, main {
	width: 100%;
}
header, footer {
	height: 10vh;
}
main {
	height: 80vh;
}
aside, view {
	height: 100%;
}
view {
	width: 80vh
}
aside {
	width: calc(50% - 40vh)
}
header, footer, aside {
	background-color: #999;
	outline-width: 3px;
	outline-style: inset;
	border-style: inset;
}
header, aside:first-child {
	border-color: #bbb;
	outline-color: #ccc;
}
footer, aside:last-child {
	border-color: #ccc;
	outline-color: #bbb;
}
header {
	border-bottom: 3px;
	margin-bottom: 3px;
	margin-top: -3px;
}
aside:first-child {
	border-right: 3px;
	margin-right: 3px;
	margin-left: -3px;
}
footer {
	border-top: 3px;
	margin-top: 3px;
	margin-bottom: -3px;
}
aside:last-child {
	border-left: 3px;
	margin-left: 3px;
	margin-right: -3px;
}
main {
	display: flex;
	flex-grow: 8;
	flex-direction: row;
}
main .map-wrapper {
	position: relative;
	flex-grow: 1;
}
main .map {
	position: absolute;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}
.map .row {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
.map .tile {
	flex-grow: 1;
	position: relative;
}
.map .tile::after {
	content: attr(data-type);
	position: absolute;
	display: block;
	color: white;
	text-align: center;
	box-shadow: inset 0 0 10px white;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	line-height: 3;
	border: 1px solid gray;
}
