* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	background-color: #000;
	overflow: hidden;
}
header, footer, main {
	width: 100%;
}
header, footer {
	height: 10vh;
}
main {
	height: 80vh;
}
aside, view {
	height: 100%;
}
view {
	width: 80vh
}
aside {
	width: calc(50% - 40vh)
}
header, footer, aside {
	background-color: #999;
	outline-width: 3px;
	outline-style: inset;
	border-style: inset;
}
header, aside:first-child {
	border-color: #bbb;
	outline-color: #ccc;
}
footer, aside:last-child {
	border-color: #ccc;
	outline-color: #bbb;
}
header {
	border-bottom: 3px;
	margin-bottom: 3px;
	margin-top: -3px;
}
aside:first-child {
	border-right: 3px;
	margin-right: 3px;
	margin-left: -3px;
}
footer {
	border-top: 3px;
	margin-top: 3px;
	margin-bottom: -3px;
}
aside:last-child {
	border-left: 3px;
	margin-left: 3px;
	margin-right: -3px;
}
main {
	display: flex;
	flex-grow: 8;
	flex-direction: row;
}
main .map-wrapper {
	position: relative;
	flex-grow: 1;
}
main .map {
	position: absolute;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}
.map .row {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
.map .tile {
	display: flex;
	flex-grow: 1;
	position: relative;
	background-image: url('./tileset.png');
	background-position: 0 0;
	background-size: 403%;
	image-rendering: pixelated;
}
.map .tile[data-type='floor'], .map .tile[data-type='door'] {
	background-position: 100% 100%;
}
.map .tile[data-type='wall'][data-subtype='top-left'] {
	background-position: calc(100% / 3 * 2) calc(100% / 3 * 2);
}
.map .tile[data-type='wall'][data-subtype='top-right'] {
	background-position: calc(100% / 3 * 3) calc(100% / 3 * 2);
}
.map .tile[data-type='wall'][data-subtype='bottom-left'] {
	background-position: calc(100% / 3 * 1) calc(100% / 3 * 3);
}
.map .tile[data-type='wall'][data-subtype='bottom-right'] {
	background-position: calc(100% / 3 * 2) calc(100% / 3 * 3);
}
.map .tile[data-type='wall'][data-subtype='left'] {
	background-position: calc(100% / 3 * 2) calc(100% / 3 * 2);
}
.map .tile[data-type='wall'][data-subtype='right'] {
	background-position: calc(100% / 3 * 3) calc(100% / 3 * 2);
}
.map .tile[data-type='wall'][data-subtype='left-door-1'] {
	background-position: calc(100% / 3 * 0) calc(100% / 3 * 0);
}
.map .tile[data-type='wall'][data-subtype='left-door-2'] {
	background-position: calc(100% / 3 * 3) calc(100% / 3 * 1);
}
.map .tile[data-type='wall'][data-subtype='right-door-1'] {
	background-position: calc(100% / 3 * 0) calc(100% / 3 * 0);
}
.map .tile[data-type='wall'][data-subtype='right-door-2'] {
	background-position: calc(100% / 3 * 0) calc(100% / 3 * 2);
}
.map .tile[data-type='wall'][data-subtype='bottom-door-1'] {
	background-position: calc(100% / 3 * 3) calc(100% / 3 * 1);
}
.map .tile[data-type='wall'][data-subtype='bottom-door-2'] {
	background-position: calc(100% / 3 * 0) calc(100% / 3 * 2);
}
.map .tile[data-type='wall'][data-subtype='0'] {
	background-position: calc(100% / 3 * 0) calc(100% / 3 * 0);
}
.map .tile[data-type='wall'][data-subtype='1'] {
	background-position: calc(100% / 3 * 1) calc(100% / 3 * 0);
}
.map .tile[data-type='wall'][data-subtype='2'] {
	background-position: calc(100% / 3 * 2) calc(100% / 3 * 0);
}
.map .tile[data-type='wall'][data-subtype='3'] {
	background-position: calc(100% / 3 * 3) calc(100% / 3 * 0);
}
.map .tile[data-type='wall'][data-subtype='4'] {
	background-position: calc(100% / 3 * 0) calc(100% / 3 * 1);
}
.map .tile[data-type='wall'][data-subtype='5'] {
	background-position: calc(100% / 3 * 1) calc(100% / 3 * 1);
}
.map .tile[data-type='wall'][data-subtype='6'] {
	background-position: calc(100% / 3 * 2) calc(100% / 3 * 1);
}
.mobile.player {
	background-image: url('./character_sprite.png');
	background-position: 0 0;
	flex-grow: 1;
}
